<!--CONTACT TEXT-->
<section class="contact">
  <div class="contact-image"></div>
  <h2 class="contact-title">Contacto</h2>
  <div class="container-text">
    <p class="contact-text">
      ¿Quieres contactar con nosotras? Sólo tienes que rellenar el siguiente
      formulario y nos pondremos en contacto contigo en menos de 15.000
      parpadeos (o 24 horas).
    </p>
  </div>
  <small class="contact-small-text"
    >Todos los campos marcados con <span class="asterisk">*</span> son
    obligatorios.</small
  >
</section>
