<!--FORM-->
<div class="container">
  <form
    action="https://formspree.io/f/mzbogwoq"
    class="form"
    action="https://formspree.io/f/mleznvoz"
    method="post"
  >
    <label class="label" for="name"
      >Nombre completo <span class="asterisk">*</span></label
    >
    <input
      class="input"
      id="name"
      name="name"
      type="text"
      placeholder="Nombre..."
      required=""
    />
    <fieldset class="desktop-version">
      <div>
        <label class="label" for="email"
          >Email <span class="asterisk">*</span></label
        >
        <input
          class="input"
          id="email"
          name="email"
          type="text"
          placeholder="nombreapellidos@mail.com"
          required=""
        />
      </div>
      <div>
        <label class="label" for="phone">Teléfono</label>
        <input
          class="input"
          id="phone"
          name="phone"
          type="text"
          placeholder="Ej. 123456789"
        />
      </div>
    </fieldset>
    <label class="label" for="sms"
      >Mensaje <span class="asterisk">*</span></label
    >
    <textarea
      class="input"
      id="sms"
      name="sms"
      rows="6"
      type="text"
      placeholder="¿Qué necesitas?"
      required=""
    ></textarea>

    <div class="submit-container">
      <input class="submit" type="submit" value="Enviar" />
    </div>
  </form>
</div>
