
<footer class="footer">
    <article class="article-footer">
      <p class="p">FEncoders © 2022</p>
      <nav class="nav">
        <ul class="ul-footer">
          <li class="li.footer">
            <a class="link-footer" href="./index.html#team">team</a>
          </li>
          <li>
            <a class="link-footer" href="./index.html#whoweare"
              >QUIENES SOMOS</a
            >
          </li>
          <li><a class="link-footer" href="./contact.html#contact">CONTACTO</a></li>
        </ul>
      </nav>
      <div class="container">
        <img
          class="image-adalab"
          src="./images/logo-adalab.png"
          alt="Logo logo-adalab"
        />
      </div>
    </article>
  </footer>