<header class="header">
  <ul class="title-points">
    <li class="title">
      <h1 class="font">
        <a class="decoration" href="./index.html">FENCODERS</a>
      </h1>
    </li>

    <li>
      <nav class="options">
        <ul class="dots">
          <li class="point">
            <a class="decoration" href="./index.html#team">EQUIPO</a>
          </li>

          <li class="point">
            <a class="decoration" href="./index.html#whoweare">QUIÉNES SOMOS</a>
          </li>

          <li class="point">
            <a class="decoration" href="./contact.html#contact">CONTACTO</a>
          </li>
        </ul>
      </nav>
    </li>
  </ul>
</header>
