<section class="container-presentation">
  <h2 id="whoweare" class="who">QUIÉNES SOMOS</h2>
  <article class="member-Rosa">
    <div class="box-photo">
      <img
        class="images"
        src="./assets/images/rosa-codina.jpg"
        alt="Foto de perfil de Rosa Codina"
      />
    </div>
    <div class="box-text">
      <h4 class="name-title">Rosa Codina</h4>
      <p class="description">
        Estudié Historia del arte y un máster de profesorado y, tras un periodo
        viviendo sola en Reino Unido, me di cuenta de que la educación no era lo
        mío. He trabajado como asistente de dirección y de proyectos, algo que
        me ayuda a ser muy flexible en entornos de team. Mi interés por este
        sector y mis ganas de aprender me dijeron que el código era el arte que
        estaba buscando.
      </p>
      <nav>
        <ul class="socialmedia-list">
          <li>
            <a href="https://www.linkedin.com/in/rosa-codina-prieto-960ba5143/"
              ><i class="fa-brands fa-linkedin-in"></i
            ></a>
          </li>

          <li>
            <a href="https://github.com/rosacodina"
              ><i class="fa-brands fa-github-alt"></i
            ></a>
          </li>

          <li>
            <a href="mailto:rosa.codina90@gmail.com"
              ><i class="fa-solid fa-envelope"></i
            ></a>
          </li>
        </ul>
      </nav>
    </div>
  </article>
  <article class="member-Miriam">
    <div class="box-photo">
      <img
        class="images"
        src="./assets/images/miriam-poveda.jpeg"
        alt="Foto de perfil de Miriam Poveda"
      />
    </div>
    <div class="box-text">
      <h4 class="name-title">Miriam Poveda</h4>

      <p class="description">
        Proyecto de actriz y desarrolladora en construcción infinita. Dirigí mis
        pasos hacia la programación buscando reinventarme como mujer
        independiente. Mi experiencia trabajando en grupos me ayuda a manejar
        mejor la resolución de conflictos y a priorizar la comunicación de team.
        Aprovecho mi base creativa para integrar y aprovechar mejor los detalles
        más pequeños de cada proyecto.
      </p>
      <nav class="socialmedia">
        <ul class="socialmedia-list">
          <li>
            <a href="https://www.linkedin.com/in/Miriam-Poveda"
              ><i class="fa-brands fa-linkedin-in"></i
            ></a>
          </li>
          <li>
            <a href="https://github.com/MiriamPoveda"
              ><i class="fa-brands fa-github-alt"></i
            ></a>
          </li>
          <li>
            <a href="mailto:mpoveda94@gmail.com"
              ><i class="fa-solid fa-envelope"></i
            ></a>
          </li>
        </ul>
      </nav>
    </div>
  </article>
  <article class="member-Alejandra">
    <div class="box-photo">
      <img
        class="images"
        src="./assets/images/alejandra-diaz.jpeg"
        alt="Foto de perfil Alejandra Diaz"
      />
    </div>
    <div class="box-text">
      <h4 class="name-title">Alejandra Diaz</h4>

      <p class="description">
        Me caracterizan mi capacidad de adaptación y el temple ante situaciones
        de estrés. Busco constantemente retarme y ampliar mi zona de confort.
        Tengo una larga trayectoria como actriz de teatro y quiero añadir a mi
        vida otro tipo de tablas, por eso mi objetivo es formarme integralmente
        como desarrolladora Front-end y crear un puente entre mi pasión por las
        relaciones humanas y el mundo digital.
      </p>
      <nav class="socialmedia">
        <ul class="socialmedia-list">
          <li>
            <a href="https://linkedin.com/in/alejandra-diaz-9b3a29227/"
              ><i class="fa-brands fa-linkedin-in"></i
            ></a>
          </li>
          <li>
            <a href="https://github.com/AleDiUrr"
              ><i class="fa-brands fa-github-alt"></i
            ></a>
          </li>
          <li>
            <a href="mailto:francys.diazurribarri@gmail.com"
              ><i class="fa-solid fa-envelope"></i
            ></a>
          </li>
        </ul>
      </nav>
    </div>
  </article>
  <!--Trabajo de Zahira-->
  <article class="member-Maria">
    <div class="box-photo">
      <img
        class="images"
        src="./assets/images/maria-ortiz.jpeg"
        alt="Foto de perfil de María Ortíz"
      />
    </div>
    <div class="box-text">
      <h4 class="name-title">María Ortíz</h4>
      <p class="description">
        Administradora, contable y desarrolladora web en aprendizaje. Me
        encantan los retos nuevos, conocer diferentes lugares y probar comidas
        de diferentes países. Proactiva, responsable y buen comunicador, con
        muchas ganas de aprender y de superarme continuamente.
      </p>
      <nav class="socialmedia">
        <ul class="socialmedia-list">
          <li>
            <a href="https://www.linkedin.com/in/maria-ortiz-mero-a48871206"
              ><i class="fa-brands fa-linkedin-in"></i
            ></a>
          </li>
          <li>
            <a href="https:github.com/miaor5"
              ><i class="fa-brands fa-github-alt"></i
            ></a>
          </li>
          <li>
            <a href="mailto:ortiz.maria.mero"
              ><i class="fa-solid fa-envelope"></i
            ></a>
          </li>
        </ul>
      </nav>
    </div>
  </article>
  <article class="member-Zai">
    <div class="box-photo">
      <img
        class="images"
        src="./assets/images/image-zahira (2).jpg"
        alt="Foto de Perfil Zahira Álvarez"
      />
    </div>

    <div class="box-text">
      <h4 class="name-title">Zahira Álvarez</h4>

      <p class="description">
        Amante de los animales y forofa del fútbol. Me encanta viajar y conocer
        rinconcitos ocultos. Un concierto siempre esbuena opción. Descubrí que
        no estaba donde quería y me embarqué en esta aventura apasionate.
      </p>
      <nav class="socialmedia">
        <ul class="socialmedia-list">
          <li>
            <a href="https://www.linkedin.com/"
              ><i class="fa-brands fa-linkedin-in"></i
            ></a>
          </li>
          <li>
            <a href="https:github.com/zai-alvarez"
              ><i class="fa-brands fa-github-alt"></i
            ></a>
          </li>
          <li>
            <a href="mailto:zai.alvarez.l@gmail.com"
              ><i class="fa-solid fa-envelope"></i
            ></a>
          </li>
        </ul>
      </nav>
    </div>
  </article>
</section>
