
    <section class="team-background">
      <article class="team-photo">
        <div class="team-motto">
          <h3 class="h3">Programo, luego existo.</h3>
      </article>
    </section>
    <!--Trabajo de Rosa-->
    <section class="container-team">
      <article>
        <h2 id="team" class="green-title">EQUIPO</h2>
        <p class="team">
          Todas tenemos formación y experiencia en diferentes sectores laborales, pero nos une nuestro afán por mejorar y desarrollarnos profesionalmente, además de nuestro gran interés por el sector, tan en auge y apasionante, de la tecnología.
        </p>

        <p class="team">
          FEncoders (Female Encoders) nace de la inquietud y las ganas de empoderamiento de la mujer para ampliar el horizonte laboral en el sector de la programación. Aquí, nosotras, aportamos nuestro granito de arena y ofrecemos nuestro más potente perfil como desarrolladoras.
        </p>
      </article>
    </section>

    <div class="design"></div>

    <section class="container-strength-weakness">
      
      <article class="strength-weakness">
        <div>
        <h3 class="strength-title">Fortalezas</h3>
        <p class="strength-paragraph">
          Dadas nuestras experiencias individuales en distintos sectores,
          creamos una mezcla llena de creatividad, observación, colaboración y
          visión final de cada proyecto. Nuestra prioridad es lograr ese
          "click" que marque la diferencia.
        </p>
        </div>

        <div>
        <h3 class="weakness-title">Debilidades</h3>
        <p class="strength-paragraph weakness-paragraph">
          Somos aprendices de un lenguaje infinito como es la programación.
          Sin embargo, estamos llenas de compromiso, inquietud y ganas de
          demostrar nuestro potencial.
        </p>
      </div>
      </article>
    </section>