:root {
  /*Fuentes*/
  --open-sans: "Open Sans", sans-serif;
  --rubik: "Rubik", sans-serif;

  /*Colores*/
  --dark-green: #099d8d;
  --light-green: #14d9c4;
  --white: #ffffff;
  --black: #000000;
  --dark-grey: #54585a;
  --light-grey: #b8b8b9;
  --background-grey: #f1f1f1;
}
