.contact-image {
    background: url(../images/fondo-grupal.jpg);
    background-position: center;
    background-size: cover;
    height: 350px;
  }
  
  .contact {
    text-align: center;
  }
  
  .contact-title {
    color: var(--dark-green);
    font-family: var(--rubik);
    font-size: 24px;
    font-weight: 500;
    line-height: 45px;
    margin: 30px 80.5px 15px 82.5px;
  }
  
  .contact-text {
    color: var(--dark-grey);
    font-family: var(--open-sans);
    font-size: 16px;
    line-height: 24px;
    padding: 0 15px 30px 15px;
  }
  
  .contact-small-text {
    color: var(--dark-grey);
    font-family: var(--open-sans);
    font-size: 12px;
    line-height: 24px;
    padding-bottom: 58px;
  }
  
  .asterisk {
    color: var(--light-green);
  }