.form {
  width: 290px;
  margin: 0 auto;
  margin-top: 60px;
  font-family: var(--open-sans);
}

.input {
  color: var(--light-grey);
  width: 100%;
  margin: 7px 0 13px;
  padding: 7px 57px 16px 15px;
  font-size: 14px;
  border: 1px solid var(--light-grey);
  outline: none;
  background-color: transparent;
  box-sizing: border-box;
}

.input:focus {
  color: var(--dark-grey);
}
.desktop-version {
  border: none;
  margin: 0;
  padding: 0;
}

.label {
  color: var(--dark-grey);
  font-size: 14px;
  width: 100%;
  margin-bottom: 7px;
  margin-top: 13px;
}

.submit-container {
  display: flex;
  justify-content: center;
}

.submit {
  background-color: var(--dark-green);
  color: var(--white);
  font-weight: 600;
  border: none;
  margin-top: 15px;
  margin-bottom: 60px;
  width: 290px;
  height: 45px;
  border-radius: 4px;
  text-transform: uppercase;
}

.submit:hover {
  background-color: var(--light-green);
}

/* RESPONSIVE */

@media (min-width: 768px) {
  .submit {
    width: 206px;
    text-align: center;
    border-radius: 4px;
    margin-bottom: 0;
  }
  .form {
    width: 442px;
  }

  .submit-container {
    display: flex;
    justify-content: flex-end;
  }
}

// width: 442px;
//   margin-left: 163px;
//   margin-right: 163px;

@media all and (min-width: 1200px) {
  .submit-container {
    margin-bottom: -60px;
  }

  .submit {
    width: 278px;
    height: 45px;
    text-align: center;
    border-radius: 4px;
    margin-left: 315px;
    margin-bottom: 120px;
  }

  .form {
    width: 601px;
  }

  .desktop-version {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 44px;
  }
}

// width: 601px;
//   margin-left: 299px;
//   margin-right: 299px;
