.container-presentation {
  background: var(--white);
  text-align: center;
}

.who {
  font-family: var(--rubik);
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  color: var(--dark-green);
  padding: 30px;
}
.name-title {
  font-family: var(--open-sans);
  font-size: 20px;
  text-align: center;
  color: var(--black);
}

.description {
  font-family: var(--open-sans);
  font-size: 16px;
  text-align: center;
  color: var(--dark-grey);
  padding: 0 15px 0 15px;
}

.socialmedia-list {
  display: flex;
  list-style: none;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  text-align: center;
  padding-inline-start: 0;
  padding-top: 15px;
  padding-bottom: 45px;
}

.fa-brands {
  color: var(--dark-green);
}

.fa-solid {
  color: var(--dark-green);
}

@media all and (min-width: 768px) {
  .container-presentation {
    padding: 0 45px 0 45px;
  }
  .member-Rosa {
    display: flex;
    justify-content: left;
  }
  .member-Miriam {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 20px;
    .socialmedia-list {
      justify-content: right;
      padding-right: 15px;
    }
    .description {
      text-align: right;
    }
    .name-title {
      text-align: right;
      padding-right: 15px;
    }
  }
  .member-Maria {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 20px;
    .socialmedia-list {
      justify-content: right;
      padding-right: 15px;
    }
    .description {
      text-align: right;
    }
    .name-title {
      text-align: right;
      padding-right: 15px;
    }
  }
  .member-Alejandra {
    display: flex;
    justify-content: left;
    margin-top: 20px;
  }
  .member-Zai {
    display: flex;
    justify-content: left;
    margin-top: 20px;
  }
  .box-photo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .name-title {
    text-align: left;
    padding-left: 15px;
    margin: 0;
  }

  .description {
    text-align: left;
  }

  .socialmedia-list {
    justify-content: left;
    padding-left: 15px;
  }
  .box-text {
    padding-top: 20px;
    height: 190px;
  }
}
