.team-background {
  background-image: url(../images/fondo-grupal.jpg);
  background-position: center;
  background-size: cover;
}

.team-photo {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 350px;
}

.team-motto {
  background-color: var(--white);
  font-family: var(--open-sans);
  font-weight: bold;
  font-size: 18px;
  color: var(--black);
  position: relative;
  bottom: -20px;
  padding: 0 15px 0 15px;
}

.container-team {
  margin: 46px 15px 30px 15px;
  background-color: white;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: "Open Sans";
  font-size: 16px;
  color: #54585a;
}

.design {
  width: 30px;
  height: 30px;
  transform: rotate(45deg);
  background-color: var(--white);
  margin-left: auto;
  margin-right: auto;
  margin-top: -15px;
}

.green-title {
  color: #14d9c4;
  text-align: center;
  font-family: var(--rubik);
  font-weight: 24px;
}

.green-title-1 {
  color: #14d9c4;
  text-align: center;
  font-family: var(--rubik);
  font-weight: 22px;
}

.container-strength-weakness {
  margin: 30px 0 45px 0;
  display: flex;
  justify-content: center;
  font-family: "Open Sans";
  font-size: 16px;
}

.strength-weakness {
  background-color: var(--background-grey);
  width: auto;
  height: auto;
  justify-content: center;
  justify-items: center;
  padding: 0% 2.5% 0% 2.5%;
}

.grey-paragraph {
  text-align: center;
  color: #54585a;
}
