:root {
  /*Colores*/
  --dark-green: #099d8d;
  --light-green: #14d9c4;
  --white: #ffffff;
  --black: #000000;
  --dark-grey: #54585a;
  --light-grey: #b8b8b9;
  --background-grey: #f1f1f1;
}

/*GRUPAL*/

body {
  background-color: var(--background-grey);
}

/*MIRIAM*/

.team-background {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.team-photo {
  background-image: url(../images/fondo_provisional.jpg);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 180px;
}

.team-motto {
  background-color: var(--background-grey);
  text-align: center;
  position: relative;
  bottom: -20px;

/*ROSA*/

.titulo-verde {
  color: #099d8d;
  text-align: center;
}

.centrado-claro {
  text-align: center;
  color: #b8b8b9;
}

.centrado-oscuro {
  text-align: center;
  color: #54585a;
}

.container-equipo {
  width: 30%;
  justify-content: center;
  display: flex;
  flex-direction: row;
  margin: auto;
  padding: 1% 1% 1% 1%;
}

.item-1 {
  width: auto;
  height: auto;
  justify-content: center;
  justify-items: center;
  padding: 0% 2.5% 0% 2.5%;
}

.container-fortaleza-debilidad {
  width: 80%;
  background-color: #f1f1f1;
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-direction: row;
  margin: auto;
}

.item-2 {
  width: auto;
  height: auto;
  justify-content: center;
  justify-items: center;
  padding: 5% 2.5% 5% 2.5%;
}
