:root {
  /*Fuentes*/
  --open-sans: "Open Sans", sans-serif;
  --rubik: "Rubik", sans-serif;

  /*Colores*/
  --dark-green: #099d8d;
  --light-green: #14d9c4;
  --white: #ffffff;
  --black: #000000;
  --dark-grey: #54585a;
  --light-grey: #b8b8b9;
  --background-grey: #f1f1f1;
  /*Iconos*/
}

/*GRUPAL*/

body {
  background-color: var(--background-grey);
}

/*MARIA*/

.title-points {
  list-style: none;
  margin: 0%;
  padding: 0%;
  position: fixed;
  height: 60px;
  z-index: 999;
  width: 100%;
}

.font {
  font-size: 16px;
}

.title {
  background-color: #099d8e96;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 60px;
  font-family: var(--rubik);
  font-weight: 500; /*Maria he agregado el weight para que se vea como rubik medium*/
}

.options {
  background-color: #14d9c496;
  height: 45px;
  display: flex;
  align-items: center;
}

.dots {
  display: flex;
  justify-content: space-around;
  text-align: center;
  list-style: none;
  padding: 0px;
  width: 100%;
}

.point {
  color: white;
  font-size: 15px;
  font-family: var(--rubik);
  text-decoration: none;
}
.decoration {
  text-decoration: none;
  color: white;
  text-align: center;
}

/*MIRIAM*/

.team-background {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.team-photo {
  background-image: url(../images/fondo_provisional.jpg);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 180px;
}

.team-motto {
  background-color: var(--background-grey);
  font-family: var(--open-sans);
  font-weight: bold;
  font-size: 18px;
  color: var(--black);
  text-align: center;
  position: relative;
  bottom: -20px;
}

/*ROSA*/

.titulo-verde {
  color: #099d8d;
  text-align: center;
}

.centrado-claro {
  text-align: center;
  color: #b8b8b9;
}

.centrado-oscuro {
  text-align: center;
  color: #54585a;
}

.container-equipo {
  width: 30%;
  justify-content: center;
  display: flex;
  flex-direction: row;
  margin: auto;
  padding: 1% 1% 1% 1%;
}

.item-1 {
  width: auto;
  height: auto;
  justify-content: center;
  justify-items: center;
  padding: 0% 2.5% 0% 2.5%;
}

.container-fortaleza-debilidad {
  width: 80%;
  background-color: #f1f1f1;
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-direction: row;
  margin: auto;
}

.item-2 {
  width: auto;
  height: auto;
  justify-content: center;
  justify-items: center;
  padding: 5% 2.5% 5% 2.5%;
}
/*Alejandra*/

.container-presentacion {
  background: var(--white);
}

.quienes {
  font-family: var(--rubik);
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  color: var(--dark-green);
}
.title-nombre {
  font-family: OpenSans-Regular;
  font-size: 20px;
  text-align: center;
  color: var(--black);
}

.descripcion {
  font-family: OpenSans-Regular;
  font-size: 16px;
  text-align: center;
  color: var(--dark-grey);
}

.redes-lista {
  display: flex;
  list-style: none;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
  text-align: center;
}

/*en principio se cambiaba el color del icono pero no sé que he hecho que ya no me deja. El lunes lo reviso de nuevo*/
.fa-brands .fa-solid {
  color: var(--dark-green);
}

/*ZAHIRA*/
.footer {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: white;
}
.ul-footer {
  list-style: none;
  text-align: center;
  margin-top: 20px;
}
.link-footer {
  text-decoration: none;
  color: black;
  flex-direction: column;
}
.image-adalab {
  height: 45px;
  width: 115.9px;
  margin-top: 30px;
  margin-bottom: 45px;
}
.p {
  margin-top: 45px;
}
:root {
  /*Fuentes*/
  --open-sans: "Open Sans", sans-serif;
  --rubik: "Rubik", sans-serif;
  /*Colores*/
  --dark-green: #099d8d;
  --light-green: #14d9c4;
  --white: #ffffff;
  --black: #000000;
  --dark-grey: #54585a;
  --light-grey: #b8b8b9;
  --background-grey: #f1f1f1;
}

/*GRUPAL*/

/*Esto es para que cuando subamos las imágenes, si añadis esta etiqueta, se pongan todas con la misma dimensión y con el mismo borde. Se ha agregado border-radius.*/

.images {
  width: 180px;
  height: 180px;
  border: 5px solid var(--background-grey);
  border-radius: 4px;
}

/*MIRIAM*/

.team-background {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.team-photo {
  background-image: url(../images/fondo_provisional.jpg);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 421px;
}

.team-motto {
  background-color: var(--white);
  font-family: var(--open-sans);
  font-weight: bold;
  color: var(--black);
  text-align: center;
  position: relative;
  bottom: -43px;
  height: 80px;
  margin: 0 15px 0 15px;
}

/*ROSA*/

.titulo-verde {
  color: #099d8d;
  text-align: center;
}

.centrado-claro {
  text-align: center;
  color: #b8b8b9;
}

.centrado-oscuro {
  text-align: center;
  color: #54585a;
}

.container-equipo {
  width: 30%;
  justify-content: center;
  display: flex;
  flex-direction: row;
  margin: auto;
  padding: 1% 1% 1% 1%;
}

.item-1 {
  width: auto;
  height: auto;
  justify-content: center;
  justify-items: center;
  padding: 0% 2.5% 0% 2.5%;
  margin-top: 30px;
}

/*Si quitas el width y pones flex-direction:column, se te pondrá como en la versión móvil. Luego si queremos ajustar algo más creo que se puede marcar con algo de padding. Miriam */

.container-fortaleza-debilidad {
  width: 80%;
  background-color: #f1f1f1;
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-direction: row;
  margin: auto;
}

.item-2 {
  width: auto;
  height: auto;
  justify-content: center;
  justify-items: center;
  padding: 5% 2.5% 5% 2.5%;
}
/*Alejandra*/

.container-presentacion {
  background: var(--white);
  text-align: center;
  /*Tengo dudas de si debería definifir el tamaño según como lo indica en Zeplin
  width: 320px;
  height: 2225px;
  margin: 1083px 0 0;
  padding: 30px 15px 45px;
  background-color: #fff;*/
}

.quienes {
  font-family: var(--rubik-medium);
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  color: var(--dark-green);
}
.title-nombre {
  font-family: OpenSans-Regular;
  font-size: 20px;
  text-align: center;
  color: var(--black);
}

.descripcion {
  font-family: OpenSans-Regular;
  font-size: 16px;
  text-align: center;
  color: var(--dark-grey);
}

.redes-lista {
  display: flex;
  list-style: none;
  flex-direction: row;
  justify-content: center;
  /*creo que lo correcto es hacerlo con inline margin y padding pero no me deja ¿podemos intentar luego juntas?*/
  gap: 5px;
  text-align: center;
  padding-inline-start: 0;
  margin-bottom: 1px;
  padding-bottom: 15px;
}

/*Pude solucionarlo, Alejandra. Simplemente utilicé la clase que creaste de "fa.solid" de manera individual. Se ve que estaría haciendo conflicto por algún motivo pero por separado funciona. Miriam.*/

.fa-brands {
  color: var(--dark-green);
}

.fa-solid {
  color: var(--dark-green);
}

/* ZAHIRA */
.image-zai {
  width: 180px;
}

.footer {
  font-size: 14px;
  font-family: var(--open-sans);
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: white;
  border-top: 1px solid var(--light-grey);
}
.ul-footer {
  display: flex;
  flex-direction: column;
  padding: 0%;

  list-style: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  font-weight: 600;
  font-family: var(--open-sans);
}
.link-footer {
  text-decoration: none;
  color: black;
  flex-direction: column;
  color: darkgrey;
}
.image-adalab {
  height: 45px;
  width: 115.9px;
  margin-top: 30px;
  margin-bottom: 45px;
}
.p {
  margin-top: 45px;
  font-size: 14px;
  font-family: var(--open-sans);
  color: lightslategrey;
}
.article-footer {
  justify-content: center;
  text-align: center;
}
.nav {
  justify-content: space-between;
  text-align: center;
  display: flex;
  align-items: center;
}
